%p So.. we've got the two most delicious resources that you can subscribe:

%strong Beers and burguers!!!

%p Wanna try and see how it works in action? Let's do it!!

%p
  Firstly, you can
  = link_to "sign up here", new_user_registration_path
  and we'll provide you with a token.
