%p
  This is a howto:
  = link_to "https://github.com/net-engine/resthooks/blob/master/README.md", "https://github.com/net-engine/resthooks/blob/master/README.md"

%p
  = link_to "Sign up", new_user_registration_path
  and start using. This will provide you a token. Use freely.
