<!DOCTYPE html>
<html>
<head>
  <title>Resthooks</title>
  <%= stylesheet_link_tag    "http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.css" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <section class='container'>
    <%= yield %>
  </section>

</body>
</html>
